.App {
  text-align: center;
  
}

body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  background-color: #FFF;
  margin: auto;
  border-color: #282c34;
  border: solid;
}
th {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border-width: 5px;
  border-color: #282c34;
  border: solid;
}

th input {
  border: dashed;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #33393a;
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

h1 {
  color: #FFF;
  text-decoration: underline;
}